body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.offbutton {
  text-decoration: none;
  color: white;
}

.gjs-pn-buttons {
  color: rgb(34, 29, 29);
}

.gjs-one-bg {
  background-color: rgb(241, 234, 234);
  font-size: large;
  color: black;
}
.gjs-block-label {
  font-size: smaller;
  color: black;
}

/* .container{
  display: flex;
} */

.container {
  display: flex;
  justify-content: space-between;
}

/* .main,
.sidebar {
  border: 3px solid black;
  padding: 15px;
  background-color: #fff;
} */

.main {
  width: 70%;
  margin-bottom: 50px;
  margin-right: 50px;
  background-color: #00ffbf;
  margin-top: 30px;
}

.sidebar {
  width: 25%;
  height: 500px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 20px;
  margin-left: 3px;
  margin-top: 2px;
  border: 1px solid black;
  background-color: white;
  border-radius: 3px;
  box-shadow: 7px 5px 23px -5px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 7px 5px 23px -5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 23px -5px rgba(0, 0, 0, 0.75);
}
